{% extends 'layout.html.twig' %}

{% block main %}

    <h3>{{ tournament.name }}</h3>
    <br/>
    <section>
        <span>ID : {{ tournament.uuid }}</span>
    </section>
    <br/>
    <section>
        <h4>Joueurs inscrits</h4>
        {% for player in registeredPlayers %}
            <div>
                <span>{{ player.name }}</span>
                -
                <span>{{ player.uuid }}</span>
            </div>
        {% endfor %}
    </section>
    <br/>
    <section>
        <h4>Ajouter un joueur</h4>

        <form action="{{ path('tournoi_tournament_add_player', {'uuid': tournament.uuid}) }}" method="POST">
            <select name="player_to_add">
                {% for player in notRegisteredplayers %}
                    <option value="{{ player.uuid }}">{{ player.name }}</option>
                    </div>
                {% endfor %}
            </select>
            <button type="submit">Valider</button>
        </form>
    </section>

{% endblock %}
