{% extends 'layout.html.twig' %}

{% block main %}

    <h3>{{ tournament.name }}</h3>
    <br/>
    <section>
        <span>ID : {{ tournament.uuid }}</span>
        <br/>
        <span>Status : {{ tournament.status }}</span>
    </section>
    <br/>
    <section>
    {% if tournament.status != 'upcoming' %}
        {% for stage in stages %}
            <a href="{{ path('tournoi_stage_detail', {'uuid': stage.uuid}) }}">
                {% if stage.type == 'group' %}
                    Phase de groupe
                {% elseif stage.type == 'bracket' %}
                    Tableau final
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}
    </section>
    <br/>
    <section>
        <h5>Joueurs inscrits</h5>
        {% for player in registeredPlayers %}
            <div>
                <span>{{ player.name }}</span>
                -
                <span>{{ player.uuid }}</span>
                -
                <span>{{ player.rankingPoints.value() }}</span>
            </div>
        {% endfor %}
    </section>
    <br/>
    {% if tournament.status != 'running' %}
        <section>
            <h5>Ajouter un joueur</h5>

            <form action="{{ path('tournoi_tournament_add_player', {'uuid': tournament.uuid}) }}" method="POST">
                <select name="player_to_add">
                    {% for player in notRegisteredplayers %}
                        <option value="{{ player.uuid }}">{{ player.name }}</option>
                        </div>
                    {% endfor %}
                </select>
                <button type="submit">Valider</button>
            </form>
        </section>
        <br/>
        <section>
            <a href="{{ path('tournoi_tournament_launch', {'uuid': tournament.uuid}) }}">Lancer le tournoi !</a>
        </section>
    {% endif %}
    <br/>

{% endblock %}
