{% extends 'layout.html.twig' %}

{% block main %}

    <h3>Détail de la poule</h3>
    <br/>
    <section>
        <span>Poule {{ group.label }}</span>
        <br/>
        {% for player in group.players %}
            <span>- {{ player.name }}</span>
            <span>
                {% set points = player.rankingPoints.value %}
                {% if points is null %}
                    (non classé)
                {% else %}
                    ({{ points }} points)
                {% endif %}
            </span>
            <br/>
        {% endfor %}
        <br/><br/>
        {% for match in matches %}
            <span>Match {{ loop.index }} : {{ match.player1.name }} vs {{ match.player2.name }}</span>
            {% if match.result is not null %}
                {% for set in match.result.sets %}
<<<<<<< HEAD
                    <span> [ {{ set.scorePlayer1 }}-{{ set.scorePlayer2 }}  ]</span>
=======
                    <span> [ {{ set.score1 }}-{{ set.score2 }}  ]</span>
>>>>>>> feat(match): Match Result [WIP]
                {% endfor %}
            {% endif %}
            <span>- {{ match.uuid }}</span>
            <br/>
        {% endfor %}



    </section>

{% endblock %}
