<!DOCTYPE HTML>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block stylesheets %}
            <link href="{{ asset('build/layout.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>
        <div class="container">

        	<header>
            	{% block header %} header block {% endblock %}
        	</header>

            <nav>
                {% block nav %}
                    <br/>
                    <h5>Tournois</h2>
                    <ul>
                        <li>
                            <a href="{{ path('tournoi_tournament_list') }}">Liste</a>
                        </li>
                        <li>
                            <a href="{{ path('tournoi_tournament_view_create') }}">Créer</a>
                        </li>
                    </ul>
                    <h5>Joueurs</h2>
                    <ul>
                        <li>
                            <a href="{{ path('tournoi_player_list') }}">Liste</a>
                        </li>
                        <li>
                            <a href="{{ path('tournoi_player_view_create') }}">Créer</a>
                        </li>
                    </ul>

                {% endblock %}
            </nav>

            <main>
                {% block main %} main block {% endblock %}
            </main>

        	<footer>
                {% block footer %} footer block {% endblock %}
        	</footer>

        </div>

        {% block javascripts %}
            <script src="{{ asset('build/layout.js') }}"></script>
        {% endblock %}
    </body>
</html>
